.subscriptions {
    max-width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 85px;
    padding-bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}