.cards {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    height: auto;
    width: 100%; /* Take up the full width of the parent */
    column-gap: 100px; /* Add space between each card */
    row-gap: 50px; /* Add space between each card */
}

.containerCards {
    width:   200px; /* Fixed width for each card */
    height:   auto; /* Fixed height for each card */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/*FONT STYLES*/

.txtLight12Black {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: black;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    margin: 0px;
    padding-left: 5px;
}

/*UI ELEMENTS*/

.btn {
    width: 20%;
    background-color: transparent;
    border: none;
}

.btnIcn {
    background-color: transparent;
    border: none;
}

.icn {
    color: black;
    height: 20px;
}