.Container {
    display: flex;
    justify-content: flex-end; /* contenedor pegado a la derecha */
    gap:  15%; /* Espacio entre los el search y selector */
    align-items: center;
}

.Container a {
    text-decoration: none;
    color: #000000; /* Color del texto de los enlaces */
    font-size:  18px; /* Tamaño de fuente de los enlaces */
}

.searchbarContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.searchInput {
    width: 400px;
    height: 40px;
    padding-left: 30px;
    border-radius: 10px;
    border-color: #000000;
    font-size: 16px;
}
.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top:  13px;
    bottom:  10px;
    left:  10px;
    z-index:  2;
}

.selecContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Selector {
    
    background-color: transparent;
    border: none;
    font-size: 14px;
    
}