.footer{
    background-color: #3E3E70;
    max-width: 100%;
    height: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
    padding-top: 60px;
  }

.txt {
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.logo {
    width: 70px;
    height: 39.38px;
}

.input {
    width: 80%;
    height: 40px;
    padding-left: 15px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.input::placeholder {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #3E3E70;
}

.btn {
    width: 20%;
    height: 40px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    margin-left: 20px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}  

.vertical {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

p {
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

svg {
    margin-right: 10px;
}

#container-top {
    width:100%;
    align-items: flex-start;

}

#container-top-left {
    width: 40%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#container-top-right {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#container-bottom {
    width:100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

#container-bottom-right {
    width:50%;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    color: white;
}

#container-bottom-left {
    width:50%;
}

hr {
    width: 100%;
    margin-top: 20px;
    border-color: white;
}


