.topbar {
    max-width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

/*CONTAINERS*/

.containerLeft {
    width: 33%;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.containerCenter {
    width: 33%;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerRight {
    width: 33%;
    height: 39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    ;
}

.containerLogin {
    height: 39px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*FONT SYLES*/

.txtLogo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: black;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.txtRegular16 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.txtRegular16Underlined {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    margin: 0px;
    padding: 0px;
}

.txtRegular16:active {
    font-weight: 600;
}

  /*UI ELEMENTS*/

.logo {
    width: 70px;
    height: 39.38px;
}

.icn {
    color: #000000;
}

#icnUser {
    height: 35px;
    margin-left: 10px;
}

#icnBell {
    height: 30px;
}

.btn {
    background-color: transparent;
    border: none;
}