/* Contenedor principal de la topbar */
.topbar {
    max-width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    /* Color de fondo blanco */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    /* Sombra en la parte inferior */
}

/* Contenedor de los enlaces */
.containerLeft {
    width: 33%;
    height: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerCenter {
    width: 33%;
    /* Ancho del título y del logo */
    height: 39px;
    /* Altura del título y del logo */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerRight {
    width: 33%;
    height: 39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    ;
}

.containerLogin {
    height: 39px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt {
    color: #000000;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.txt:active {
    font-weight: 600;
}

#txtUnderlined {
    text-decoration: underline;
}


/* Estilos para el título y el logo */
#h1 {
    font-size: 32px;
    font-weight: 700;
}

.logo {
    width: 70px;
    /* Ancho del título y del logo */
    height: 39px;
    /* Altura del título y del logo */
}

.icn {
    color: #000000;
}

#icnUser {
    height: 35px;
    margin-left: 10px;
}

#icnBell {
    height: 30px;
    margin-left: 10px;
}

.btn {
    background-color: transparent;
    border: none;
}