.detail {
    display: flex;
    flex-direction: row;
}

/*CONTAINERS*/

.containerLeft {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.containerRight {
    width: 70%;
    display: flex;
    flex-direction: column;
}