.containerSingIn {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    height: 80vh; /* Ocupa el 100% de la altura de la ventana */
}

.contentSingIn {
    display: flex ; /* Utiliza flexbox para los elementos internos */
     /* Centra verticalmente los elementos */
    width: 100%; /* Ocupa el 50% del ancho de la ventana */
}

.singin_and_singup_image {
    width: 50%; /* Ocupa el 50% del ancho de su contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.Formulario {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra horizontalmente los elementos */
}

