#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.containerAdmin {
  display: flex;
  flex-direction: row; /* Stack children vertically */
  width: 83vw;
}

.viewsContainer {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  width: 83vw;
}